.container{
  display:flex;
  background-color: #49cce6;
  flex-direction: row;
  flex-wrap: wrap;
}
.container div {
    background-color: #4980b8;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
@media (max-width:600px){
    .container{
        flex-direction: column;
    }
    
}

div{color: rgb(61, 78, 233);font-size:200;}